* {
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 1px solid red;
}
body {
  /* background-image: url("bg/img5.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.nav:hover {
  text-decoration: none !important;
}
.mCard {
  margin-top: 150px;
}
.catImg {
  height: 250px;
  object-fit: cover;
}

.card-header {
  font-size: 22px;
  font-style: oblique;
}

.price {
  font-size: 26px;
  text-align: center;
  background-color: lightgreen;
}

.add {
  margin-top: 400px;
}

.img {
  margin-left: 50px;
}

th {
  color: white;
  background-color: rgba(115, 123, 133, 0.877);
}

td {
  font-size: 20px;
}

tbody {
  background-color: white;
}

.modalH2 {
  margin-left: 110px;
}

.quantity {
  width: 30px;
  height: 32px;
  border: 1px solid black;
  margin-top: 3px;
  margin-left: 18px;
  text-align: center;
}

.info {
  text-align: center;
}
