* {
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 1px solid red;
}
.carousel-item {
  border-bottom: none !important;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
.nav:hover {
  text-decoration: none !important;
}

.catImg {
  height: 300px;
  object-fit: cover;
}
.cartTop {
  color: white;
  width: 30px;
  height: 35px;
}
.card:hover {
  cursor: pointer;
  border: 3px solid gray;
}
.cardCat:hover {
  cursor: pointer;
}
.cardCat:hover > div {
  background-color: red !important;
}
.imgSl {
  height: 330px !important;
}
.card-header {
  font-size: 22px;
  font-style: oblique;
}

.price {
  font-size: 22px;
  text-align: center;
}

.add {
  padding: 6px 12px;
}

.img {
  margin-left: 50px;
}

th {
  color: white;
  background-color: rgba(115, 123, 133, 0.877);
}

td {
  font-size: 20px;
}

tbody {
  background-color: white;
}

.modalH2 {
  margin-left: 110px;
}
.holderF {
  min-height: 604px;
}

.quantity {
  width: 30px;
  height: 32px;
  border: 1px solid black;
  margin-top: 3px;
  margin-left: 18px;
  text-align: center;
}
.mCall {
  font-size: 20px;
}
.info {
  text-align: center;
}
@media all and (max-width: 768px) {
  .mTab {
    font-size: 14px !important;
  }
}

@media all and (max-width: 425px) {
  .brand {
    font-size: 15px;
  }
  .nav {
    font-size: 14px;
  }
  .cartTop {
    width: 22px;
    height: 22px;
  }
  .badge-danger {
    font-size: 10px;
    width: 16px;
    height: 12px;
    padding: 1px 3px;
  }
  .imgSl {
    height: 150px !important;
  }
}
@media all and (max-width: 375px) {
  .brand {
    font-size: 14px;
  }
  .nav {
    font-size: 13px;
  }
  .cartTop {
    width: 18px;
    height: 18px;
  }
  .badge-danger {
    font-size: 10px;
    width: 14px;
    height: 10px;
    padding: 0px 1px;
  }
  .imgSl {
    height: 130px !important;
  }
  .modal-footer > .btn {
    font-size: 15px;
  }
}
@media all and (max-width: 320px) {
  .brand {
    font-size: 12px;
  }
  .nav {
    font-size: 11px;
  }
  .cartTop {
    width: 16px;
    height: 16px;
  }
  .badge-danger {
    font-size: 9px;
    width: 12px;
    height: 10px;
    padding: 1px 0px;
  }
  .imgSl {
    height: 130px !important;
  }
  .modal-footer > .btn {
    font-size: 13px;
  }
}
